* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    font-weight: 400;
    margin-right: 15px;
    font-size: 15px;
  }
  
  .container {
    background-image: linear-gradient(
      174.2deg,
      rgba(255, 244, 228, 1) 7.1%,
      rgba(240, 246, 238, 1) 67.4%
    );
  
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.692);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.507);
  }
  
  .adicionar,
  .remover {
    width: 30px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.692);
    border-radius: 1px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  
  .adicionar:active {
      background-color: rgb(212, 255, 215);
  }
  
  .remover:active {
      background-color: rgb(212, 255, 215);
  }
  
  .container > span {
    width: 30px;
    height: 25px;
    padding: 5px 5px;
    text-align: center;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.692);
    border-radius: 1px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.301);
    font-size: 15px;
    pointer-events: none;
  }